{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Majo's blog</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="{% static 'css/blog.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Cutive+Mono|Great+Vibes" rel="stylesheet"></head>
<body>
	<div >
		<a href="{% url 'post_list' %}"><img src="https://66.media.tumblr.com/fc61b60c91ed31d3901ef13378882035/tumblr_pipvkfmcmU1srjdm2o1_1280.png"></a>
	</div>
	<div>
		{% if user.is_authenticated %}
			<a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
		{% endif %}
	</div>
	<div class="content container">
		<div class="row">
			<div class="col">
				{% block content %}
				{% endblock %}
			</div>
		</div>
	</div>
</body>
</html>